
include/.idea/workspace.xml
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/build.ninja
cmake-build-debug/.cmake/api/v1/reply/index-2024-12-23T15-04-31-0993.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-12-23T10-11-07-0584.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2df050770765443bd7a3.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-0e52ee4d6775bd3e42dc.json
.idea/editor.xml
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/build.ninja
cmake-build-debug/.cmake/api/v1/reply/index-2024-12-23T10-11-07-0584.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-0e52ee4d6775bd3e42dc.json
.idea/editor.xml
