
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.o
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.o
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/build.ninja
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-a1583b31d3ed0d77bec7.json
cmake-build-debug/.cmake/api/v1/reply/target-ProgettoFinale-Debug-cdda78624142ae3178ac.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-12-23T10-11-07-0584.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-30bf4eaac510bf4ba83b.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-0e52ee4d6775bd3e42dc.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-8183674907896da4c062.json
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
build/ProgettoFinale
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/Progress/5
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/1
build/CMakeFiles/ProgettoFinale.dir/src/main.cpp.o.d
build/CMakeFiles/ProgettoFinale.dir/src/main.cpp.o
build/CMakeFiles/ProgettoFinale.dir/src/DomoticSystem.cpp.o.d
build/CMakeFiles/ProgettoFinale.dir/src/DomoticSystem.cpp.o
build/CMakeFiles/ProgettoFinale.dir/src/Device.cpp.o.d
build/CMakeFiles/ProgettoFinale.dir/src/Device.cpp.o
build/CMakeFiles/ProgettoFinale.dir/compiler_depend.make
build/CMakeFiles/ProgettoFinale.dir/compiler_depend.internal
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeCache.txt
build/.cmake/api/v1/reply/index-2024-12-23T15-00-17-0802.json
build/.cmake/api/v1/reply/index-2024-12-23T09-55-25-0067.json
build/.cmake/api/v1/reply/cmakeFiles-v1-7a83e79dde9455eb0fa1.json
build/.cmake/api/v1/reply/cmakeFiles-v1-639b2068d40f42466e06.json
build/.cmake/api/v1/reply/cache-v2-883a88d44b1499578a17.json
build/.cmake/api/v1/reply/cache-v2-06aeae61ecb2d6dadfb3.json
.DS_Store
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2df050770765443bd7a3.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-12-23T15-04-31-0993.json
include/.idea/workspace.xml
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/ProgettoFinale.dir/src/CycleDevice.cpp.o
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5d94091d14fffb022fb2.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-12-23T15-18-33-0180.json
cmake-build-debug/.cmake/api/v1/reply/target-ProgettoFinale-Debug-9027014ce9e1c0fce6cf.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/ProgettoFinale.dir/src/ManualDevice.cpp.o
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
CMakeLists.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Testing/Temporary/LastTest.log
